/* VARIABLES*/
$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);
/*FONT*/
$font:18px;


@font-face{
 font-family: 'bai-400';
 src: url('../font/BaiJamjuree-Medium.ttf');
}
@font-face{
 font-family: 'bai-700';
 src: url('../font/BaiJamjuree-Bold.ttf')
}

@mixin flex($direction,$justify,$align){
 display: flex;
 flex-direction:$direction;
 justify-content: $justify;
 align-items: $align;
}

@import "global";
@import "wrapper";
@import "snip";
@import "computer";
@import "clipboard";
@import "container";
@import "wrapper2";
@import "cliptext";
@import "footer";